{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<title>Cadastrar</title>
{% endblock titulo %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'cadastro/css/cadastro.css' %}">
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 form-container">
        {% if messages %}
            {% for message in messages %}
                <section class="alert {{message.tags}}">
                    {{message}}
                </section>
            {% endfor %}
        {% endif %}
        <h2>Cadastro</h2>
        <form action="{% url 'cadastro' %}" method="POST"> {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Nome de usuário</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Digite seu nome de usuário">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Endereço de e-mail</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Digite seu e-mail">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input type="password" class="form-control" id="password" name="senha" placeholder="Digite sua senha">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label"> Confirmar Senha</label>
                <input type="password" class="form-control" id="password" name="confirmar_senha" placeholder="Digite sua senha">
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
        <br>
        <a href="{% url 'login' %}" >Login</a>
    </div>
</div>
{% endblock %}
