{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Download</title>
{% endblock titulo %}

{% block extra_css %}
<style>
    .total_download{
        color: #000;
        font-weight: bold;
    }
    .content{
       max-width: 450px;
    }
  
</style>

{% endblock %}

{% block content %}
{% include "partials/header.html" %}
<div class="content container">
    <h1>Download de Imagens</h1>
    <p>Quantidade de imagens por classe:</p>
    <ul class="list-group">
        {% for classe, contagem in contagem_por_classe.items %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ classe }}: 
                <span class="badge bg-primary rounded-pill">{{ contagem }}</span>
            </li>
        {% endfor %}
        <li class="list-group-item d-flex justify-content-between align-items-center total_download  ">Total: 
            <span class="badge bg-primary rounded-pill "> {{ tot_download }} </span>
        </li>
    </ul>
<br>
<p>Clique no botão abaixo para baixar as imagens classificadas:</p>
<form action="{% url 'download' %}" method="post"> {% csrf_token %}
    <button class="btn btn-primary" type="submit">Baixar Imagens</button>
</form>
</div>
{% endblock %}
