{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>upload de imagem</title>
{% endblock titulo %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'images/css/upload_imagem.css' %}">
{% endblock %}

{% block content %}
{% include "partials/header.html" %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 form-container">
            <h2>Upload de Imagens</h2>
            {% if messages %}
                {% for message in messages %}
                    <section class="alert {{message.tags}}">
                        {{message}}
                    </section>
                {% endfor %}
            {% endif %}
            <form method="POST" enctype='multipart/form-data' action="{% url 'new_images' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="image" class="form-label">Selecione as imagens</label>
                    <input type="file" class="form-control" id="image" name="image" multiple >
                    <p>Máximo 5 fotos</p>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
