
.select-container {
    position: relative;
    display: inline-block;
}

.form-select {
    width: 300px; /* ou o tamanho desejado */
    padding-right: 30px; /* espaço para o botão */
}

button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%; /* altura igual à do select */
    margin-left: 20px;
}
.contador{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}