/* Adicione o seu CSS para a página de upload de imagens aqui */
.form-container {
    margin-top: 50px;
    padding: 20px;
    background-color: var( --differential-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container label {
    font-weight: bold;
}

.form-container input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--contrast-color);
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button[type="submit"]:hover {
    background-color: #fff
}

.carousel-item {
    text-align: center;
}

.carousel-item img {
    max-width: 80%;
    max-height: 400px; /* Defina a altura máxima desejada */
    margin: auto; /* Centraliza a imagem horizontalmente */
}

/* Define a cor preta para as setas do carrossel */
.carousel-control-prev,
.carousel-control-next {
    color: black !important; /* Altera a cor das setas para preto */
}

/* Define a cor preta para o ícone SVG */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    fill: black; /* Altera a cor do ícone SVG para preto */
}

/* Define a cor preta quando passar o mouse sobre as setas do carrossel */
.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: black !important; /* Altera a cor das setas para preto no hover */
}

.carousel-item {
    text-align: center;
}

.carousel-item img {
    max-width: 80%;
    max-height: 400px; /* Defina a altura máxima desejada */
    margin: auto; /* Centraliza a imagem horizontalmente */
    margin-bottom: 20px; /* Adiciona margem abaixo da imagem */
}


