:root{
     
    --main-color: #0b1526;
    --dark-color: #000716;
    --secondary-dark-color: rgb(15, 2, 26);
    --light-color: #00c1f3;
    --contrast-color: #f4c96b;
    --differential-color: #aeaeae;

}

body{
    background-color: var(--dark-color) !important;
    color: white !important;
}
nav{
    margin-bottom: 30px;
}
footer{
    margin-top: 30px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; /* Cor de fundo do rodapé */
    padding: 20px; /* Espaçamento interno do rodapé */
    text-align: center; /* Centraliza o conteúdo do rodapé */
}

